SOC_SPC/ClientApplication/Service References/PlaceOrdersServiceReference/PlaceOrdersWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="placeOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drugName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drugBrnad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pharmacyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pharmacyStaffId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="placeOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placeOrdersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drugName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drugBrand" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pharmacyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pharmacyStaffId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchOrdersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoOrderId">
        <s:complexType />
      </s:element>
      <s:element name="AutoOrderIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoOrderIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="placeOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:placeOrders" />
  </wsdl:message>
  <wsdl:message name="placeOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:placeOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="searchOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:searchOrders" />
  </wsdl:message>
  <wsdl:message name="searchOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:searchOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="AutoOrderIdSoapIn">
    <wsdl:part name="parameters" element="tns:AutoOrderId" />
  </wsdl:message>
  <wsdl:message name="AutoOrderIdSoapOut">
    <wsdl:part name="parameters" element="tns:AutoOrderIdResponse" />
  </wsdl:message>
  <wsdl:portType name="PlaceOrdersWSSoap">
    <wsdl:operation name="placeOrders">
      <wsdl:input message="tns:placeOrdersSoapIn" />
      <wsdl:output message="tns:placeOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchOrders">
      <wsdl:input message="tns:searchOrdersSoapIn" />
      <wsdl:output message="tns:searchOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoOrderId">
      <wsdl:input message="tns:AutoOrderIdSoapIn" />
      <wsdl:output message="tns:AutoOrderIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlaceOrdersWSSoap" type="tns:PlaceOrdersWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="placeOrders">
      <soap:operation soapAction="http://tempuri.org/placeOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchOrders">
      <soap:operation soapAction="http://tempuri.org/searchOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoOrderId">
      <soap:operation soapAction="http://tempuri.org/AutoOrderId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PlaceOrdersWSSoap12" type="tns:PlaceOrdersWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="placeOrders">
      <soap12:operation soapAction="http://tempuri.org/placeOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchOrders">
      <soap12:operation soapAction="http://tempuri.org/searchOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoOrderId">
      <soap12:operation soapAction="http://tempuri.org/AutoOrderId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlaceOrdersWS">
    <wsdl:port name="PlaceOrdersWSSoap" binding="tns:PlaceOrdersWSSoap">
      <soap:address location="http://localhost:58443/PlaceOrdersWS.asmx" />
    </wsdl:port>
    <wsdl:port name="PlaceOrdersWSSoap12" binding="tns:PlaceOrdersWSSoap12">
      <soap12:address location="http://localhost:58443/PlaceOrdersWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>