SOC_SPC/ClientApplication/Service References/AddUpdateSearchStockServiceReference/StockWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stockId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drugName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drugCategory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drugBrnad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="suitabiliy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="supplierName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="supplierId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addStockResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stockId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drugName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drugCategory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drugBrand" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="suitability" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="supplierName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="supplierId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchStockResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoStockId">
        <s:complexType />
      </s:element>
      <s:element name="AutoStockIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoStockIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addStockSoapIn">
    <wsdl:part name="parameters" element="tns:addStock" />
  </wsdl:message>
  <wsdl:message name="addStockSoapOut">
    <wsdl:part name="parameters" element="tns:addStockResponse" />
  </wsdl:message>
  <wsdl:message name="searchStockSoapIn">
    <wsdl:part name="parameters" element="tns:searchStock" />
  </wsdl:message>
  <wsdl:message name="searchStockSoapOut">
    <wsdl:part name="parameters" element="tns:searchStockResponse" />
  </wsdl:message>
  <wsdl:message name="AutoStockIdSoapIn">
    <wsdl:part name="parameters" element="tns:AutoStockId" />
  </wsdl:message>
  <wsdl:message name="AutoStockIdSoapOut">
    <wsdl:part name="parameters" element="tns:AutoStockIdResponse" />
  </wsdl:message>
  <wsdl:portType name="StockWSSoap">
    <wsdl:operation name="addStock">
      <wsdl:input message="tns:addStockSoapIn" />
      <wsdl:output message="tns:addStockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchStock">
      <wsdl:input message="tns:searchStockSoapIn" />
      <wsdl:output message="tns:searchStockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoStockId">
      <wsdl:input message="tns:AutoStockIdSoapIn" />
      <wsdl:output message="tns:AutoStockIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockWSSoap" type="tns:StockWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addStock">
      <soap:operation soapAction="http://tempuri.org/addStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchStock">
      <soap:operation soapAction="http://tempuri.org/searchStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoStockId">
      <soap:operation soapAction="http://tempuri.org/AutoStockId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockWSSoap12" type="tns:StockWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addStock">
      <soap12:operation soapAction="http://tempuri.org/addStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchStock">
      <soap12:operation soapAction="http://tempuri.org/searchStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoStockId">
      <soap12:operation soapAction="http://tempuri.org/AutoStockId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockWS">
    <wsdl:port name="StockWSSoap" binding="tns:StockWSSoap">
      <soap:address location="http://localhost:58443/StockWS.asmx" />
    </wsdl:port>
    <wsdl:port name="StockWSSoap12" binding="tns:StockWSSoap12">
      <soap12:address location="http://localhost:58443/StockWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>